<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
  
    
</head>

<body>
<div class="container"> 
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                    
   
   						<li id="listarApiAtivo" style="color: #640200 !important; 
   background-color: #CDC8B1 !important;"><a  class="currentLink" href="#" th:href="@{/listarapi}">Listar API</a></li>
                        <li id="listarApi"  ><a  class="currentLink" href="#" th:href="@{/listarapi}">Listar API</a></li>
                        
                        <li id="listarBancoAtivo" style="color: #640200 !important;
   background-color: #CDC8B1 !important;"><a href="#" th:href="@{/listarbanco}">Listar Banco</a></li>
   			
                        <li id="listarBanco" ><a href="#" th:href="@{/listarbanco}">Listar Banco</a></li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>Uso de API do Github</h2>
                   
                </div>
            </div>
            <div class="row text-center">
                <img src="../../static/images/github_icon.png" width="200" th:src="@{/images/github_icon.png}"/>
            </div>
        </div>

    </div>
</div> 
 
</body>
<style>

</style>
</html>


